.App .landscape-background {
  width: 100%;
  min-height: 60vh;
  background-size: cover;
  background-position: center;
  background-image: url("https://static.vecteezy.com/system/resources/previews/003/262/550/large_2x/scenery-of-nature-with-river-and-hills-free-vector.jpg");
  padding: 1.5em;
}
